    #Add camera with ph-cr by I1PABIJJA <i1pabijja@gmail.com>
    chmod 0660 /dev/BU6424AF
    chmod 0660 /dev/BU64243AF
    chmod 0660 /dev/DW9714AF
    chmod 0660 /dev/A5141AF
    chmod 0660 /dev/A5141SIJICHUNAF
    chmod 0660 /dev/A5141SJCAF
    chown system camera /dev/BU6424AF
    chown system camera /dev/BU64243AF
    chown system camera /dev/DW9714AF
    chown system camera /dev/A5141AF
    chown system camera /dev/A5141SIJICHUNAF
    chown system camera /dev/A5141SJCAF
